<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="main container bg-secondary">
  <h2 class="bg-success text-center p-5 ml-0">My TodosApp</h2>
  <div class="addItems form-group">
    
    <input class="form-control" type="text" id="AddText" [(ngModel)] = "newItems" placeholder="Add Name">
    <h3>Name:{{ newItems }}</h3>
    <input class="form-control" type="text" id="AddText" [(ngModel)] = "itemss" placeholder="Add Activity">
    <h3>Activity:{{itemss }}</h3>
    <input class="form-control" type="text" id="AddText" [(ngModel)] = "itemsss" placeholder="Add State">
    <h3>State:{{ itemsss }}</h3>
    <input class="form-control" type="text" id="AddText" [(ngModel)] = "item" placeholder="Add Dateline">
    <h3>Dateline:{{ item}}</h3>
    <button class="form-control" (click)= "pushItems()">Click to add</button>
    
       <div class="row">
         <div class="col-lg-3">
           <h4>Name</h4>
          <ul>
            <li *ngFor = "let i of items; let ind = index" >
              {{i}}
              <span class="delete" (click) = removeItems(ind)> <img class="deleting" src="./assets/del.png" alt=""></span>
          </ul>
         </div>
         <div class="col-lg-3">
            <h4>Activity</h4>
          <ul>
            <li *ngFor = "let ia of arr; let indd = index" >
              {{ia}}
              <span class="delete" (click) = removeA(indd)> <img class="deleting" src="./assets/del.png" alt=""></span>
          </ul>
         </div>
         <div class="col-lg-3">
            <h4>State</h4>
          <ul>
            <li *ngFor = "let bb of arrr; let inds = index" >
              {{bb}}
              <span class="delete" (click) = removeS(inds)> <img class="deleting" src="./assets/del.png" alt=""></span>
          </ul>
         </div>
         <div class="col-lg-3">
            <h4>Dateline</h4>
          <ul>
            <li *ngFor = "let aa of ar; let inda = index" >
              {{aa}}
              <span class="delete" (click) = removeD(inda)> <img class="deleting" src="./assets/del.png" alt=""></span>
          </ul>
         </div>
       </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>